doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 404
  body
    p
      a(href="/posts") NNチャット
    img(src="https://nicovideo.cdn.nimg.jp/thumbnails/10745887/10745887")
    p
      div やあ （´・ω・｀）
      div ようこそ、バーボンハウスへ。
      div このテキーラはサービスだから、まず飲んで落ち着いて欲しい。

    p
      div うん、「また」なんだ。済まない。
      div 仏の顔もって言うしね、謝って許してもらおうとも思っていない。

    p 
      div でも、このスレタイを見たとき、君は、きっと言葉では言い表せない
      div 「ときめき」みたいなものを感じてくれたと思う。
      div 殺伐とした世の中で、そういう気持ちを忘れないで欲しい
      div そう思って、このスレを立てたんだ。

    p
      div じゃあ、注文を聞こうか。

